/* CSS DOC */
	
	@charset "UTF-8";

/* Resets */

	html, body, h1, h2, h3, li {
		border: none;
		margin: 0;
		padding: 0;
		text-decoration: none;
		
	}

	body {
		width: 780px;
		margin-left: auto;
		margin-right: auto;
	}

/*HEADER*/
 	
 	header {
 		background-color: #FFFFFF;
		width: 780px;
		height: 105px;
 	}

 	h1 {
		color: #35495B;
		font-family: 'Capture it', regular;
		font-size: 45px;
		margin-top: 30px;
		margin-bottom: 30px;
		position: relative;
		left: 50px;
		top: 20px;
	}

 	ul {
 		background-color: #35495B;
 		width: 780px; 
 		height: 37px; 
 		padding-left: 0px;	
	}

	li {
		color: #FFFFFF;
		font-family: 'Fira Sans', ExtraBold;
		font-size: 12px;
		float: left;
		list-style: none;
		padding-right: 20px;
		position: relative;
		left: 50px;
		padding-top: 6px;
	}

	li a {
		color: #FFFFFF;
		text-decoration: none;
	}

	li a.active {
		color: rgb(255, 209, 18);
	}

/*MAIN*/

	main {
 		background-color: #FFFFFF;
		width: 780px;
		height: 695px;
		overflow-y: scroll;
		overflow-x: hidden;
 	}

	h2 {
		color: rgb(178, 178, 178);
		font-family: 'Fira Sans', bold;
		font-size: 12px;
		margin-top: 40px;
		margin-bottom: 10px;
	}

	h3{
		color: rgb(255, 209, 18);
		font-family: 'Capture it', regular;
		font-size: 45px;
	}

	p {
		color: #35495B;
		font-family: 'Fira Sans', light;
		font-size: 12px;
	}
	
	.Vorspalte{
		width: 50px;
		margin-left: 50px;
		float: left;
	}

	.spalte{
		width: 180px;
		float: left;
		margin-right: 20px;
		margin-top: -20px;
	}


	.gesReihe{
		position: relative;
		left: 0px;
		right: 50px;
		top: 20px;
	}

	.Abstand {
		margin-top: 30px;
	}

	.Strich {
		border-bottom: 1px solid rgb(178, 178, 178);
		width: 180px;
	}

