/* CSS DOC */
	
	@charset "UTF-8";

/* Resets */

	html, body, h1, h2, h3, li {
		border: none;
		margin: 0;
		padding: 0;
		text-decoration: none;
	}

/*HEADER*/
 	
 	header {
 		background-color: #FFFFFF;
		width: 780px;
		height: 105px;
 	}

 	ul {
 		background-color: #35495B;
 		width: 780px; 
 		height: 37px;
 	}

/* LAYOUT */

	.Back {
	width: 780px;
	height: 800px;
	position: center;
	background-color: #FFFFFF;
}

/* TYPO */

	body {
		color: #35495B;
		font-family: 'Fira Sans', light;
		font-size: 12px;
	}

	h1 {
		color: #35495B;
		font-family: 'Capture it', regular;
		font-size: 35px;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	}

	h2 {
		color: grau;
		font-family: 'Fira Sans', bold;
		font-size: 12px;
	}

	h3 {
		color: #35495B;
		font-family: 'Fira Sans', light;
		font-size: 12px;
	}


	li {
		color: #FFFFFF;
		font-family: 'Fira Sans', bold;
		font-size: 12px;
		float: left;
	}

/*Boxen*/

	.Blau{
		width: 780px;
		height:37px;
		float: left;
		background-color: #35495B;
	}

	.Uebergruppe{

		height: 100px;
		margin: 0px auto 0px auto;
		padding: 50px;
		width: 780px;
	}

	.box1{
		width: 180px;
		float: left;
	}

	.box2{
		width: 180px;
		float: left;
	}

	.box3{
		width: 180px;
		float: left;
	}

	.margin-right {
		margin-right: 20px;
	}
	.margin-bottom {
		margin-top: 20px
	}
